{% extends "blog/base.html" %}
{% load static %}

{% block title %}Sobre - {{ blog.titulo }}{% endblock title %}

{% block titulo %}
  {{ conteudo.titulo|default:"Sobre o Blog" }}
{% endblock titulo %}

{% block subtitulo %}
  {{ conteudo.subtitulo|default:"Informações e contexto do nosso blog" }}
{% endblock subtitulo %}

{% block content %}
<main class="mb-4 container-centered">
  <div>
    {% if conteudo.texto %}
      <p>{{ conteudo.texto|linebreaks }}</p>
    {% else %}
      <p>Informações sobre o blog ainda não cadastradas.</p>
    {% endif %}
  </div>
</main>
{% endblock content %}
