{% extends "blog/base.html" %}
{% load static %}

{% block title %}Sobre{% endblock title %}

{% block titulo %}
  {% if conteudo and conteudo.titulo %}
    {{ conteudo.titulo }}
  {% else %}
    Sobre o Blog
  {% endif %}
{% endblock titulo %}

{% block subtitulo %}
  {% if conteudo and conteudo.subtitulo %}
    {{ conteudo.subtitulo }}
  {% else %}
    Informações e contexto do nosso blog
  {% endif %}
{% endblock subtitulo %}

{% block header_image %}
  {% if conteudo and conteudo.imagem_header %}
    {{ conteudo.imagem_header.url }}
  {% else %}
    {% static 'blog/img/sobreimg.jpg' %}
  {% endif %}
{% endblock header_image %}

{% block content %}
<main class="mb-4 container-centered">
  <div>
    {% if conteudo and conteudo.texto %}
      <p>{{ conteudo.texto|linebreaks }}</p>
    {% else %}
      <p>Informações sobre o blog ainda não cadastradas.</p>
    {% endif %}
  </div>
</main>
{% endblock content %}
